<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliya.adapter.simple">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdapterUnifyDataSimpleActivity"
            android:label="通用示例" />
        <activity
            android:name=".activity.DecorAdapterListSimpleActivity"
            android:label="列表样式" />
        <activity
            android:name=".activity.DecorAdapterGridSimpleActivity"
            android:label="Grid样式" />
        <activity
            android:name=".activity.AdapterDiffDataSimpleActivity"
            android:label="多item类型" />
        <activity
            android:name=".activity.DecorAdapterLoadMoreSimpleActivity"
            android:label="加载更多" />
        <activity
            android:name=".activity.OverlaySimpleActivity"
            android:label="悬浮吸顶" />
        <activity
            android:name=".activity.EmptyPageSimpleActivity"
            android:label="空页面" />
    </application>

</manifest>